.single-item-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* item carousel */
.splash-carousel-container {
    display: flex;
    flex-direction: row;
    margin-right: 150px;
}

.single-item-image {
    height: 680px;
    width: 530px;
    object-fit: cover;
}

/* item info */
.item-info-buttons-container{
    width: 30%;
    margin-top: 4.6rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.item-name-favs-container {
    display: flex;
    justify-content: space-between;
}

#item-name {
    font-weight: bold;
    font-size: 18px;
}

.item-favorites {

}

.size {
    padding-top: 15px;
    font-weight: 200;
    font-size: 16px;
}

.color, .condition {
    font-weight: 200;
    padding-top: 10px;
    font-size: 16px;
}

.price {
    padding-top: 15px;
    font-family: "Video",monospace;
    font-weight: bold;
    font-size: 25px;
}

.shipping {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 200;
}

.purchase-button {
    background-color: black;
    font-size: 17px;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
}

.purchase-button:hover {
    cursor: pointer;
    background-color: #333333;
} 

.item-desc-title {
    border-top: 1px solid #d0d0d0;
    margin-top: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.item-desc {
    padding-top: 10px;
    font-weight: 200;
}