.item-info-buttons-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.single-item-page-container {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 1px solid black; */
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 700px;
    align-items: center;
    /* border: 1px solid red; */
}

.item-info-buttons-container {
    display: flex;
    width: 550px;
    align-items: right-center;
    /* border: 1px solid black; */
}

#item-name {
    text-decoration: underline;
}