.main-listings-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 100px;
    padding: 1em;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.items-display-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-start;
    gap: 7px;
}

.home-item-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: fit-content;
    margin-bottom: 2em;
}