@import url(https://fonts.googleapis.com/css?family=Roboto:100);

/* 
h1 {
    font: 2em 'Roboto', sans-serif;
    margin-bottom: 40px;
} */

.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.profile-header {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(227, 227, 227);
    /* flex-direction: column; */
    /* flex-direction: row; */
}

.prof-icon-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    border: 1px sold black;
}

